@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkCaret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.landing-header, .landing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: 
        slideInFromLeft 1s ease-out;
    margin-bottom: 0px;
}

.landing-subheader{
    overflow: hidden;
    white-space: nowrap;
    animation: 
        slideInFromRight 1s ease-out;
}