/* From Uiverse.io by ErzenXz */ 
.input {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: rgb(210, 210, 215);
    justify-content: center;
    border-radius: 5px;
    gap: 7.5px;
    margin-top: 4vh;
  }
  
  .value {
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  .value:not(:active):hover,
  .value:focus {
    background-color: rgb(132, 132, 135);
  }
  
  .value:focus,
  .value:active {
    background-color: rgb(132, 132, 135);
    outline: none;
  }
  
  .value::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 0px;
    width: 100%;
    height: 3px;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
  }
  
  .value:focus::before,
  .value:active::before {
    opacity: 1;
  }
  

  